rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.email in [
        'admin@gmail.com'
      ];
    }

    // Publicly readable gallery files
    match /gallery/{allPaths=**} {
      allow read: if true; // anyone can view
      allow write: if isAdmin(); // only admins can upload/delete
    }

    // Publicly readable event thumbnails
    match /events/{allPaths=**} {
      allow read: if true; // anyone can view event thumbnails
      allow write: if isAdmin(); // only admins can upload/delete
    }

    // Default: deny other paths unless you configure them
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
